@{
    ViewData["Title"] = "Home Page";
}
<partial name="~/Views/Shared/Common/_BreadCrumbPartial.cshtml" model='("Dashboard", "Home", "Dashboard")'></partial>
<div class="text-center mt-4">
    <h1 class="display-4 text-info">Welcome on Dashboard</h1>
</div>
