<li class="nav-item">
    <a class="nav-link" asp-controller="Shift" asp-action="Index">
        <i class="nav-icon bi bi-clock-fill"></i> <!-- For Shifts -->
        <p>Shifts</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Project" asp-action="Index">
        <i class="nav-icon bi bi-kanban-fill"></i> <!-- For Projects -->
        <p>Projects</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="ProjectItem" asp-action="Index">
        <i class="nav-icon bi bi-list-check"></i> <!-- For Project Items -->
        <p>Project Items</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Rule" asp-action="Index">
        <i class="nav-icon bi bi-bookmark-check-fill"></i> <!-- For Rules -->
        <p>Rules</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="RuleViolation" asp-action="Index">
        <i class="nav-icon bi bi-exclamation-triangle-fill"></i> <!-- For Member Violations -->
        <p>Member Violations</p>
    </a>
</li>
