
<li class="nav-item">
    <a class="nav-link" asp-controller="Project" asp-action="Index">
        <i class="nav-icon bi bi-kanban-fill"></i> <!-- For Projects -->
        <p>Projects</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="RuleViolation" asp-action="Index">
        <i class="nav-icon bi bi-exclamation-triangle-fill"></i> <!-- For Member Violations -->
        <p>Member Violations</p>
    </a>
</li>
